<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
          I'm currently working in VFISLK-A Joint Venture between SLK Softwares and Voya Financial which is one of the 500 fortune company.My Experience lies in Robotic Process Automation.I'm Uipath beta certified RPA developer  and also have hands-on experience on tools like work Fusion,Blueprism,Raid (Organizational in-house RPA tool based on Javascript).Also have experienced cross-functional team leadership.Played multiple roles being spoc on Learning and development and conducted trainings on RPA to internal Team.Have a knowledge related to process and quality methods like six sigma and its importance in the entire organization.
        </p>
        <p>
           I love playing roles which will exhibit my leadership qualities and paves a way to keep improving my work.
           I had love to share my knowledge by conducting trainings within organizaion for whomsoever needed.
           I'm most attracted to solving real customer problems with a business justification.
           I'm looking for a Team Player role like Business Analyst to undertake
           team leadership responsibilites.
           .
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Developed a bot for ITIS department for Server Backup on Raid Tool using Javascript
    			</li>
          <li>
             Developed a bot for ITIS department for Mcafee Dat version data storage on Raid Tool using Javascript
        <li>
           Developed a bot for HR  department to carry on Referal Payroll on Raid Tool using Javascript
          </li>
    		<li>
            Automated Business process on Retirement Services for Voya Financial in uipath
    			<li>
            Developed Reusable components and library for the customers.
    			</li>
          <li>
            Trained Process and Quality Team on RPA.
          </li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
